<section id="about" class="about-us">
    <div class="about-us-background"></div>
    <div class="about-us-content">
        <h2>About Us</h2>
        <p>
            Welcome to <strong>Cloud Library</strong>, a space for learning, research, and book lovers.
            We provide access to thousands of books, periodicals, and digital resources.
        </p>
        <a href="/registerCustomerPage" class="btn">Register</a>
    
    </div>
</section>
