<div id="modal-punishment" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>

        <h2>Punishment Details</h2>
        
        <p><strong>Type of Punishment:</strong></p>
        
        <!-- Show "User has paid fine" button only if punishment is of type "fine" -->
        
        <button class="fine-paid-btn" id="finePaidButton">
            User has paid fine
        </button>

        <!-- Button to cancel any punishment type -->
        <button class="cancel-punishment-btn" >
            Do you want to cancel punishment?
        </button>
    </div>
</div>
