<div class="deadline-wrapper">
    <div class="return-deadline">
        <form>
            <label for="days">Enter number of days to return the book:</label>
            <input type="number" id="return-days" name="days" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <div class="collect-deadline">
        <form>
            <label for="collect-days">Enter number of days to collect the book:</label>
            <input type="number" id="collect-days" name="collect-days" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</div>