<!DOCTYPE html>
<html>
<head>
    <title>Add Book Portal</title>
</head>

<form action="/addBookToDatabase" method="POST">
    <label for="title">Book Title:</label>
    <input type="text" id="title" name="title" required><br><br>

    <label for="author">Author:</label>
    <input type="text" id="author" name="author" required><br><br>

    <label for="year">Publication Year:</label>
    <input type="number" id="year" name="year" required><br><br>

    <label for="copies">Number of Copies:</label>
    <input type="number" id="copies" name="copies" value="1" min="1"><br><br>

    <input type="submit" value="Submit">
</form>
<script src="/main-bundled.js"></script>

</body>
</html>