<!DOCTYPE html>
<html>
<head>
    <title>Admin Portal</title>
</head>
<body>
    <h1>Welcome to the Admin Portal</h1>
    
    <% success.forEach(function(message) { %>
        <p><%= message %>. This is a flash message,needs to be modified with CSS</p>
    <%}) %>

    <a href="/addBooks">Add Books</a>
    <a href="/removeBooks">Remove Books</a>
    <a href="/logout">Logout</a>
    
</body>
</html>