<!DOCTYPE html>
<html>

<head>
    <title>Admin Portal</title>
    <%- include('includes/commonCss') %>
    <%- include('includes/fontAwesome') %>
    <link rel="stylesheet" href="adminportal.css">
    <link rel="stylesheet" href="/searchBook.css">
    <link rel="stylesheet" href="/flashMessagesFrontEnd.css">
    
</head>

<body>
    <h1>Welcome to the Admin Portal</h1>
          <!-- We used axios, so couldnt do res.render from front end so thats why manually creating
    a flash message-->
    <div id="flash-message" class="flash-messages"> </div>

   <%- include('includes/flashMessage') %>

    <a href="/addBooks">Add Books</a>
    <a href="/logout">Logout</a>
    <div class="search-icon">
        <i class="fas fa-search"></i>
    </div>
                    <a href="/showReservations" class="btn">Show Reservations</a>
                    <a href="/userRecord" class="btn">User Record and setting limits</a>
                    <a href="/overdueManagementPage" class="btn">Overdue and Bad reservations management</a>
                    <!--a button here which sends a get request to showCompleted reservation, then we go to ROUTER-->
                    <!-- <a href="/showBadAndCompletedReservations" class="btn">Show Completed Reservations</a> -->

                    <!-- Umer, over here you create a "a" tag which would send a get request to server(using href), after that go to router line 99  -->
                    <!-- footer begins -->
                    <%- include('includes/footer') %>