<!DOCTYPE html>
<html>
<head>
    <title>Login Customer Page</title>
</head>
<body>

    <% errors.forEach(function(message) { %>
        <p><%= message %>. This is a flash message,needs to be modified with CSS</p>
    <%}) %>

<form action="/loginCustomer" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    
    <input type="submit" value="Login">
</form>

</body>
</html>