<!DOCTYPE html>
<html>

<head>
    <title>Borrower Details</title>
    <%- include('includes/commonCss') %>
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/flashMessagesFrontEnd.css">
</head>

<body>
    <%-include('includes/navbar')%>
    <h1>Punishment Details</h1>
    <%- include('includes/punishmentTable') %>



</body>
</html>