<!DOCTYPE html>
<html>
<head>
    <title>Admin Portal</title>
</head>
<body>
    <h1>Welcome to the <%= user.username %> Portal</h1>
    <a href="/logout">Logout</a>
    <div class="search-icon">
        <i class="fas fa-search"></i>
    </div>
<!-- footer begins -->
<%- include('includes/footer') %>