/* Flash Messages */
.flash-messages {
  /* position: sticky; */
  position: fixed;
  left: 25%;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1100;
}

.flash-messages-login-register{
  left: 0;
}
.message-error {
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  width: 50%;
  justify-self: center;
}

.message-success {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  width: 50%;
  justify-self: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

