/* Flash Messages */
.flash-messages {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 11;
}

.message-error {
  background-color: rgba(255, 0, 0, 0.8);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(255, 0, 0, 0.4);
  animation: fadeIn 1s ease-in-out;
}

.message-success {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(255, 0, 0, 0.4);
  animation: fadeIn 1s ease-in-out;

}
/* 
  .error-message {
    background-color: #e74c3c;
  }
  
  .success-message {
    background-color: #2ecc71;
  } */