/* Flash Messages */
.flash-messages {
    position: fixed;
    top: 5rem;
    width: 100%;
    text-align: center;
    z-index: 100;
    padding: 10px;
  }
  
  .flash-message {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .error-message {
    background-color: #e74c3c;
  }
  
  .success-message {
    background-color: #2ecc71;
  }