/* General Styles */
body {
    font-family: var(--primary-font);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('library2.avif') center/cover no-repeat; 
}

/* Register Container */
.register-container {
    background-color:  #D1B9BA;
    border: 0.1rem solid var(--card-border);
    border-radius: 1.2rem;
    padding: 3rem;
    box-shadow: 0rem 0.6rem 1.2rem rgba(0, 0, 0, 0.15);
    width: 35rem;
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
}

/* Registration Heading */
.register-container h1 {
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

/* Form Group */
.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-color);
    display: block;
    margin-bottom: 0.5rem;
}

/* Input Fields */
.form-group input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: 0.1rem solid var(--card-border);
    border-radius: 0.8rem;
    background-color: #fff;
    color: var(--text-color);
    outline: none;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: var(--link-color);
    box-shadow: 0rem 0rem 0.8rem rgba(160, 70, 56, 0.3);
}

/* Submit Button */
.form-group input[type="submit"] {
    background-color: var(--button-color);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.form-group input[type="submit"]:hover {
    background-color: rgba(203, 41, 3, 0.8);
}

/* Fade In Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
