

/* Body Styling */
.container {
  display: grid;
  grid-template-rows:  2.6fr 2fr minmax(10rem, auto) 2fr;
  grid-template-columns: 90%;
  justify-content: center;
  background-color: white;
  min-height: 270vh;
  height: auto;
}

.container > *:not(:nth-last-child(2)) {
  margin-bottom: 10rem; /* Adds spacing between elements except last two */
}

.user-portal-wrapper {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.user-portal-image {
  background: url("userPortalBook.jpg") center/cover no-repeat;
  height: 100%;
  width: 50%;
}

.user-portal-content {
  position: relative;
  white-space: normal;
  background: #D1B9BA; /* Slight opacity */
  box-shadow: 0rem 0.6rem 1.4rem rgba(0, 0, 0, 0.1);
  z-index: 2;
  text-align: center;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.user-portal-content h2 {
  font-size: 4.8rem;
  margin-bottom: 3rem;
  color:#431A20;
  font-family: var(--secondary-font);
  font-weight: 300;
}

.user-portal-content p {
  font-family:var(--primary-font);
  font-size: 1.6rem;
  max-width: 800px;
  margin: 0 auto;
  color: #431A20;
  padding-left: 3rem;
  padding-right: 3rem;
}

.user-portal-content .btn {
  background: var(--button-color);
  color: white;
  padding: 1rem 3rem;
  /* border-radius: 0.8rem; */
  text-decoration: none;
  font-size: 1.4rem;
  transition: 0.3s ease;
  margin-top: 3rem;
}

.user-portal-content .btn:hover {
  opacity: 0.8;
}

/* Main Portal Content */
.portal-content {
  background-color: #FCF9F8;
  color: #431A20;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

 
}

.portal-content h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.user-actions {
  background-color: #D1B9BA; /* Slight opacity */
  border-radius: 2rem;
  width:30%;
  height:70%;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.user-actions h2 {
  font-family: var(--secondary-font);
  font-size: 2rem;
  margin-bottom: 1.2rem;
  font-weight: 300;
  color: #431A20;
  
}

.user-actions p {
  font-family: var(--secondary-font);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
  color: #431A20;
  max-width: 50%;

}

.user-actions .btn {
  font-family: var(--secondary-font);
  font-weight: 300;
  background-color: white;
  border:1px solid black;
  color: #431A20;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: background 0.3s ease;
  text-decoration: none;
}

.user-actions .btn:hover {
  background-color: #431A20;
  color: white
}



/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar {
    padding: 10px;
  }

  .navbar .logo {
    font-size: 1.5rem;
  }

  .navbar .nav-links a {
    font-size: 0.9rem;
  }

  .portal-content h1 {
    font-size: 1.8rem;
  }

  .modal-content {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .navbar .logo {
    font-size: 1.2rem;
  }

  .navbar .nav-links a {
    font-size: 0.8rem;
  }

  .portal-content h1 {
    font-size: 1.5rem;
  }

  .modal-content {
    width: 95%;
  }
}
.icon-container {
  width: 2rem;
  height: 2rem;
  display: flex; /* Centering if needed */
  align-items: center;
  justify-content: center;

  margin-bottom: 1.5rem;
}

.icon-books {
  width: 100%;
  height: 100%;
}
